# Файлы сборки Buildozer
.buildozer/
bin/
*.apk
*.apks

# Файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Временные файлы
*.log
*.tmp
*.temp

# Системные файлы
.DS_Store
Thumbs.db
